@import "basisStyle","mixin";




.basColor {
	color: #fff;
}

.basBgcolor {
	color: #00b9ff;
}

//@extend用法只能在同一个文件下，用@import可以调用$aa声明的变量；

* {
	@include fontSet($size);
	margin: 0;
	padding: 0;
}

body {
	@include positionSet(absolute,0,0,0,0);
	@include backgroundSet("login_background.jpg",$full);
}

nav {
	@include baseSet($full,$full/5)
}

header {
	@extend .basColor;
	@include baseSet($full);
	@include fontSet($basis);
	margin: 0 auto;
	text-align: center;
}

article {
	@include baseSet($full);
    margin: $basis auto 0 auto;
    img {
		@include baseSet(25px,25px);
		float: left;
		padding: {
			top: 6px;
			left: 15px;
		}
    }
}



.main {
	@include baseSet(auto,60px);
    position: relative;
    margin: 15px auto 0 auto;
    text-align: center;
}

button {
	@include baseSet(252px,42px,$bg);
	margin-top: 25px;
	border: 0px solid rgb(230, 227, 227){
		radius: 30px;
	};
    outline:none;
}

.rememberpsw {
	@include baseSet(20px,20px);
	margin: 3px auto auto auto;
}

.user-container	{
	@include baseSet(252px,$basis);
	position: relative;
	line-height: $basis;
	margin:0 auto;
	margin: {
		top: 20px
	};
	border: 1px solid rgb(230,227,227){
		radius: 30px;
	}
}



.username,.password  {
	@extend .basColor;
	@include baseSet(auto,$basis,transparent);
	border:none;
	line-height:$basis;
	outline:none;
	float: left;
	padding-left: 6px;
}

.submit_button {
	@extend .basColor;
}

.mengceng {
	@include positionSet(fixed,0,0);
	@include baseSet($full,$full,black);
    z-index: 150;
    opacity: 0.5;
    display: none;
}


.notification-test {
	@include baseSet($full,$basis*2);
	@include middle(80px);
	@include fontSet(16px,#fff);
	border-bottom: {
		right-radius: 7px;
		left-radius: 7px;
	};
}

.notification-outside {
	@include baseSet($full);
	@include middle;
	@include positionSet(fixed,230px,0);
	display: none;
	z-index: 200;
}

.notification-inside {
	@include baseSet(230px,auto,#000);
	margin: 0 auto;
	opacity: 0.7;
	border-radius: 7px;
}

.cleanInput {
	@include backgroundSet("delete.png",60%,20px 20px);
    @include baseSet($basis,$basis);
    @include positionSet(absolute,0,auto,auto,0);
    display: none;
}




.takeup_left {
	color: #000;
	li{
		@extend .takeUp;
		span {
			width: 30%;
			display: inline-block;
		}
	}
}

.takeUp {
	float: right;
	span {
		width: 40%;
	}
}